[user]
    name = koyamanol
    email = koyama.norihiro@gmail.com
[core]
    excludesfile = /Users/norihiro/.gitignore_global
    editor = /usr/local/bin/vim
    ignorecase = false
    quotepath = false
[init]
    defaultBranch = main
[commit]
    template = /Users/norihiro/dotfiles/.gitmessage
[pull]
    rebase = false
[color]
    ui = true
[grep]
    lineNumber = true
[alias]
    cm = commit
    co = checkout
    br = branch
    st = status
    d = diff
    l = log --graph --pretty=format:'%C(magenta)%ad %C(blue)%an %C(yellow)%h %C(reset)%s%C(red)%d' --date=short
